@model IEnumerable<Repository.Application.DataModel.AspNetGroupUser>

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">
            @Html.ActionLink("Create New", "Create")
        </h3>
    </div>
    <div class="box-header with-border">
        <h3 class="box-title">
            Users
        </h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped" id="userTable">
            <thead>
                <tr>


                    <th>
                        @Html.DisplayNameFor(model => model.AspNetGroups.GroupDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AspNetUsers.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>


                        <td>
                            @Html.DisplayFor(modelItem => item.AspNetGroups.GroupDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AspNetUsers.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { username = item.Username, groupName = item.GroupName }) |
                            @Html.ActionLink("Details", "Details", new { username = item.Username, groupName = item.GroupName }) |
                            @Html.ActionLink("Delete", "Delete", new { username = item.Username, groupName = item.GroupName })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<script type="text/javascript">
    (function ($) {


        $('#userTable').DataTable({
            'paging': true,
            'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            'pageLength': 10,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            'scrollX': true
        });
    }(jQuery));

</script>