@model Repository.Application.DataModel.BatchMix

@{
    ViewBag.Title = "Delete";
}
<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">
            Delete - BatchMix
        </h3>
        <h4>Are you sure you want to delete this?</h4>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.BatchMixName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BatchMixName)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.PRODUCT.PRODUCTNAME)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PRODUCT.PRODUCTNAME)
                </dd>



                @{
                    foreach (var item in Model.BatchMixProduct)
                    {
                        <dt>
                            Source Product
                        </dt>
                        <dd>
                            @item.ProductSourceId
                        </dd>
                        <dd>
                            @item.PRODUCT.PRODUCTNAME
                        </dd>
                        <dd>
                            @item.ProductSourcePercentage.ToString() %
                        </dd>
                    }
                }



            </dl>
    </div>
    <div class="box-footer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>
