@model IEnumerable<Repository.Application.DataModel.ProductSite>

@{
    ViewBag.Title = "StockDetails";
}

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">
            Index - Product Site Stock
        </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered table-striped" id="productSiteStockTable" ">
            <thead>
                <tr>
                    <th>
                        Site Name
                    </th>
                    <th>
                        Site Address
                    </th>
                    <th>
                        Product Code
                    </th>
                    <th>
                        Product Name
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalStock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UpdatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SITE.SITENAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SITE.SITEADDRESS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PRODUCT.PRODUCTID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PRODUCT.PRODUCTNAME)
                        </td>
                        <td>
                            <strong> @Html.DisplayFor(modelItem => item.TotalStock)</strong>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.ActionLink("Details Transaction", "SiteProductDetailsTransaction", new { siteId = item.SiteName, productId = item.ProductId })
                            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">

    $('#productSiteStockTable').DataTable({
        'paging': true,
        'lengthChange': false,
        'searching': true,
        'ordering': true,
        'info': true,
        'autoWidth': false,
        'scrollX': true,
        //"order": [[0, "desc"]]
    })
</script>