@model Repository.Application.DataModel.BATCH

@{
    ViewBag.Title = "Details";
}

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">
            Details - Batch
        </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BatchName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BatchName)
            </dd>
            <dt>
                Raw Product
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PRODUCT.PRODUCTNAME)
            </dd>


            @{
                foreach (var item in Model.BatchProduct)
                {
                    <dt>
                        Processed Product
                    </dt>
                    <dd>
                        @Html.ActionLink(item.ProductId, "Details", "Product", new { id = item.ProductId }, null)
                    </dd>
                    <dd>
                        @item.PRODUCT.PRODUCTNAME
                    </dd>
                    <dd>
                        @item.ProductPercentage.ToString() %
                    </dd>
                }
            }


            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>



        </dl>

    </div>
    <div class="box-footer">
        @Html.ActionLink("Edit", "Batch", new { id = Model.BatchCode }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>