@model IEnumerable<Repository.Application.DataModel.AspNetUsers>

@{
    ViewBag.Title = "Index";
}
<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">
            @Html.ActionLink("Create New", "Create")
        </h3>
    </div>
    <div class="box-header with-border">
        <h3 class="box-title">
            Users
        </h3>
    </div>
    <div class="box-body">
        <table class="table table-bordered table-striped" id="userTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastPasswordChange)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ErrorTried)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsLocked)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remark)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastPasswordChange)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ErrorTried)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsLocked)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remark)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Username }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Username }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Username })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<script type="text/javascript">
    (function ($) {


        $('#userTable').DataTable({
            'paging': true,
        'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            'pageLength': 10,
			   'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
            'scrollX' : true
        });
    }(jQuery));

</script>
