@model Repository.Application.DataModel.NostroBank

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NostroBank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankBranchCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankBranchCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NostroBankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NostroBankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NostroAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NostroAccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NostroAccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NostroAccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NostroBankId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
